@charset "utf-8";

*, *::before, *::after {
    box-sizing: border-box;
    min-width: 0;
}

[hidden] {
    display: none !important;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(50%);
}

.secret-link {
    cursor: inherit !important;
    text-decoration: inherit !important;
    color: inherit !important;
    opacity: 1 !important;
}

.licensing {
    all: initial;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 0.25em 0.5em;
    text-decoration: underline;
    font-size: 10pt;
    font-family: sans-serif;
    border-top-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-top-left-radius: 1em;
    color: #0000ee !important;
    cursor: pointer;
    background: #ffffff;
    z-index: 9999;
}
.licensing.left {
    left: 0;
    right: unset;
}

.licensing:hover {
    text-decoration: none;
    opacity: 1;
}
